---
- name: Set gnupg package name for Debian 9
  ansible.builtin.set_fact:
    gpg_package: "gnupg"
  when: (ansible_distribution == 'Debian' and ansible_distribution_release == 'stretch')

- name: Set gnupg package name for Debian 10/11/Ubuntu
  ansible.builtin.set_fact:
    gpg_package: "gpg"
  when: ansible_distribution == 'Ubuntu' or (ansible_distribution == 'Debian' and ansible_distribution_release == 'buster') or (ansible_distribution == 'Debian'
    and ansible_distribution_release == 'bullseye')

- name: Install gitlab requirements
  ansible.builtin.apt:
    state: present
    package:
      - curl
      - openssh-server
      - ca-certificates
      - "{{ gpg_package }}" # required for APT key import
      - "{{ gpg_package }}-agent" # required for APT key import
      - debian-archive-keyring
      - apt-transport-https
    update_cache: true
    cache_valid_time: 900

- name: Install gitlab APT repository signing key
  ansible.builtin.apt_key:
    state: present
    url: https://packages.gitlab.com/gpg.key

- name: Add gitlab repository to APT sources
  ansible.builtin.apt_repository:
    filename: gitlab_gitlab-ee
    repo: deb https://packages.gitlab.com/gitlab/gitlab-ee/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} main
    state: present
    update_cache: true

- name: Create gitlab configuration directory
  ansible.builtin.file:
    path: /etc/gitlab
    state: directory
    owner: root
    group: root
    mode: "0755"

# TODO check permissions, if this file contains sensitive information it should probably not be world-readable
- name: Install gitlab configuration file
  ansible.builtin.template:
    src: etc_gitlab_gitlab.rb.j2
    dest: /etc/gitlab/gitlab.rb
    owner: root
    group: root
    mode: "0644"
  notify: reconfigure gitlab

- name: Install gitlab package
  ansible.builtin.apt:
    state: present
    package: gitlab-ee
  environment:
    EXTERNAL_URL: "https://{{ gitlab_fqdn }}"
  ignore_errors: "{{ ansible_check_mode }}"

##### SCHEDULED TASKS ####

- name: Schedule weekly cleanup of unused registry tags/unreferenced layers
  ansible.builtin.cron:
    cron_file: gitlab
    name: "cleanup unused registry tags/unreferenced layers"
    weekday: "0" # sunday
    hour: "12"
    minute: "0"
    user: "root"
    job: >
      gitlab-ctl registry-garbage-collect 2>&1 | logger -t gitlab-registry-garbage-collect &&
      gitlab-ctl registry-garbage-collect -m 2>&1 | logger -t gitlab-registry-garbage-collect


##### RSYSLOG #####

- name: Configure rsyslog to monitor gitlab logs
  ansible.builtin.template:
    src: "etc_rsyslog.d_gitlab.conf.j2"
    dest: "/etc/rsyslog.d/gitlab.conf"
    mode: "0644"
  notify: restart rsyslog
  when:
    - ansible_local.rsyslog.ansible_managed is defined
    - ansible_local.rsyslog.ansible_managed|bool
