- name: "Import checks task"
  ansible.builtin.import_tasks: checks.yml
  tags:
    - gitlab
    - checks

- name: "Import ssl-selfsigned task"
  ansible.builtin.import_tasks: ssl-selfsigned.yml
  become: yes
  tags:
    - gitlab
    - ssl
  when: not gitlab_letsencrypt_enable

- name: "Import gitlab task"
  ansible.builtin.import_tasks: gitlab.yml
  become: yes
  tags: gitlab
