---
- name: Create directory for openldap backups
  ansible.builtin.file:
    path: /var/backups/openldap/
    state: directory
    owner: root
    group: openldap
    mode: "0750"

- name: Copy slapd database backup script
  ansible.builtin.template:
    src: usr_local_bin_openldap-dump.sh.j2
    dest: /usr/local/bin/openldap-dump.sh
    mode: "0755"
    owner: root
    group: root

- name: Copy rsnapshot configuration for openldap backups
  ansible.builtin.template:
    src: etc_rsnapshot.d_openldap.conf.j2
    dest: /etc/rsnapshot.d/openldap.conf
    mode: "0600"
  notify: check rsnapshot configuration
  when:
    - ansible_local.backup.ansible_managed is defined
    - ansible_local.backup.ansible_managed|bool
