---
### REQUIREMENTS ###

- name: Installed required php extensions
  ansible.builtin.apt:
    package:
      - php-ldap
      - php-php-gettext
      - php-gmp
      - php-gd
      - php-zip

### LDAP ACCOUNT MANAGER INSTALLATION ###

- ansible.builtin.import_tasks: ldap-account-manager-tar-bz2.yml
  when: ldap_account_manager_install_method == "tar.bz2"

### CONFIGURATION ###

- name: Create ldap-account-manager profile configuration directory
  ansible.builtin.file:
    path: "{{ ldap_account_manager_configcfg_dir }}/profiles/lam"
    owner: root
    group: www-data
    mode: u=rwX,g=rwX
    state: directory

- name: Copy ldap-account-manager configuration
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: www-data
    mode: "{{ item.mode }}"
  with_items:
    - src: "etc_ldap-account-manager_config.cfg.j2"
      dest: "{{ ldap_account_manager_configcfg_dir }}/config.cfg"
      mode: "0640"
    - src: "var_lib_ldap-account-manager_config_lam.conf.j2"
      dest: "{{ ldap_account_manager_install_dir }}/config/lam.conf"
      mode: "0640"
    - src: "var_lib_ldap-account-manager_config_profiles_lam_default.group.j2"
      dest: "{{ ldap_account_manager_install_dir }}/config/profiles/lam/default.group"
      mode: "0660"
    - src: "var_lib_ldap-account-manager_config_profiles_lam_default.user.j2"
      dest: "{{ ldap_account_manager_install_dir }}/config/profiles/lam/default.user"
      mode: "0660"

### SSL/TLS CERTIFICATES ###

- ansible.builtin.import_tasks: ldap-account-manager-ssl-selfsigned.yml
  when: ldap_account_manager_https_mode == 'selfsigned'

### APACHE CONFIGURATION ###

- name: Load distribution-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_facts.distribution }}-{{ ansible_facts.distribution_release }}.yml"

- name: Copy php-fpm configuration
  ansible.builtin.template:
    src: etc_php_PHPVERSION_fpm_pool.d_ldap-account-manager.conf.j2
    dest: /etc/php/{{ php_fpm_version }}/fpm/pool.d/ldap-account-manager.conf
    mode: "0644"
  notify: restart php-fpm

- name: Copy apache2 virtualhost configuration
  ansible.builtin.template:
    src: etc_apache2_sites-available_ldap-account-manager.conf.j2
    dest: /etc/apache2/sites-available/ldap-account-manager.conf
    mode: "0644"
  notify: reload apache

- name: Enable apache2 virtualhost
  ansible.builtin.command: a2ensite ldap-account-manager
  args:
    creates: "/etc/apache2/sites-enabled/ldap-account-manager.conf"
  notify: restart apache

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
