---
- name: "Import checks task"
  ansible.builtin.import_tasks: checks.yml
  tags:
    - openldap
    - checks

- name: "Import openldap task"
  ansible.builtin.import_tasks: openldap.yml
  become: true
  tags: openldap

- name: "Import populate task"
  ansible.builtin.import_tasks: populate.yml
  become: true
  tags: openldap

- name: "Import backups task"
  ansible.builtin.import_tasks: backups.yml
  become: true
  tags:
    - openldap
    - backup

- name: "Import ssl-selfsigned task"
  ansible.builtin.import_tasks: ssl-selfsigned.yml
  become: true
  tags:
    - ssl
    - openldap
    - openldap-ssl

- name: "Import ldap-account-manager task"
  ansible.builtin.import_tasks: ldap-account-manager.yml
  become: true
  tags:
    - openldap
    - ldap-account-manager
  when: openldap_setup_lam|bool

- name: "Import self-service-password task"
  ansible.builtin.import_tasks: self-service-password.yml
  become: true
  tags:
    - openldap
    - self-service-password
  when: openldap_setup_ssp|bool

- name: "Import netdata task"
  ansible.builtin.import_tasks: netdata.yml
  become: true
  tags:
    - openldap
    - monitoring
    - netdata
    - ldap-account-manager
    - self-service-password
  when:
    - ansible_local.netdata.ansible_managed is defined
    - ansible_local.netdata.ansible_managed|bool

- name: "Import fact task"
  ansible.builtin.import_tasks: fact.yml
  become: true
  tags: openldap

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags: openldap
