---
##### OPENLDAP DIRECTORY SERVER #####

- name: Install ansible modules requirements
  ansible.builtin.apt:
    state: present
    package:
      - debconf-utils
      - python3-ldap
  check_mode: false

### DEBCONF ###

# preconfigure the LDAP base DN in debconf - else it will be automatically derived from the machine's hostname
- name: Pre-configure openldap server
  ansible.builtin.debconf:
    name: slapd
    question: "{{ item.question }}"
    vtype: string
    value: "{{ item.value }}"
  with_items:
    - { question: "slapd/domain", value: "{{ openldap_domain }}" }
    - { question: "shared/organization", value: "{{ openldap_organization }}" }

### PACKAGES ###

- name: Install openLDAP server
  ansible.builtin.apt:
    state: present
    update_cache: true
    cache_valid_time: 900
    package:
      - slapd
      - ldap-utils
      - openssl
      - ldapscripts
      - python3-pyldap

### CONFIGURATION ###

- name: Create LDAP database directory
  ansible.builtin.file:
    path: "/var/lib/ldap/{{ openldap_domain }}/"
    state: directory
    owner: openldap
    group: openldap
    mode: "0750"

- name: Copy slapd configuration
  ansible.builtin.template:
    src: etc_default_slapd.j2
    dest: /etc/default/slapd
    owner: root
    group: root
    mode: "0644"
  notify: restart slapd

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
