---
##### LDAP DATABASE POPULATION #####

- name: Create base LDAP DN entry
  community.general.ldap_entry:
    dn: "{{ openldap_base_dn }}"
    objectClass:
      - domain
      - organization
      - dcObject
    attributes:
      o: "{{ openldap_base_dn }}"
      structuralObjectClass: organization
  ignore_errors: "{{ ansible_check_mode }}"

- name: Hash LDAP admin password
  ansible.builtin.command: slappasswd -s {{ openldap_admin_password }}
  register: slapd_admin_password
  changed_when: false # does not change anything
  ignore_errors: "{{ ansible_check_mode }}"

- name: Hash LDAP 'bind' user password
  ansible.builtin.command: slappasswd -s {{ openldap_bind_password }}
  register: slapd_bind_password
  changed_when: false # does not change anything
  ignore_errors: "{{ ansible_check_mode }}"

# slappasswd uses a new seed every time, hence the hash changes every time the playbook runs
- name: Create LDAP admin account (always returns changed), set log level
  community.general.ldap_attrs:
    dn: "{{ item.dn }}"
    attributes: "{{ item.attributes }}"
    state: "exact"
  no_log: "{{ item.no_log | default(False) }}"
  with_items:
    - dn: "olcDatabase={1}mdb,cn=config"
      attributes:
        olcRootDN: "cn=admin,{{ openldap_base_dn }}"
    - dn: "olcDatabase={0}config,cn=config"
      attributes:
        olcRootDN: "cn=admin,cn=config"
    - dn: "olcDatabase={1}mdb,cn=config"
      no_log: true
      attributes:
        olcRootPW: "{{ slapd_admin_password.stdout }}"
    - dn: "olcDatabase={0}config,cn=config"
      no_log: true
      attributes:
        olcRootPW: "{{ slapd_admin_password.stdout }}"
    - dn: "cn=config"
      attributes:
        olcLogLevel: "{{ openldap_log_level }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Create basic Organizational Units
  community.general.ldap_entry:
    dn: ou={{ item }},{{ openldap_base_dn }}
    objectClass: organizationalUnit
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
  with_items:
    - "system"
    - "groups"
    - "users"
    - "domains"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Create 'users' LDAP group
  community.general.ldap_entry:
    dn: "cn=users,ou=groups,{{ openldap_base_dn }}"
    objectClass: posixGroup
    attributes:
      gidNumber: 10000
      description: "Default group for all users"
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Create unprivilegied bind LDAP user
  community.general.ldap_entry:
    dn: "cn={{ openldap_bind_username }},ou=system,{{ openldap_base_dn }}"
    objectClass:
      - organizationalRole
      - simpleSecurityObject
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
    attributes:
      description: "Unprivilegied user for resolving UIDs/GIDs"
      userPassword: "{{ openldap_bind_password }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Set password for unprivilegied LDAP bind user
  community.general.ldap_attrs:
    dn: "cn={{ openldap_bind_username }},ou=system,{{ openldap_base_dn }}"
    attributes:
      userPassword: "{{ openldap_bind_password }}"
    state: "exact"
    server_uri: ldap://localhost/
    bind_dn: cn=admin,{{ openldap_base_dn }}
    bind_pw: "{{ openldap_admin_password }}"
  ignore_errors: "{{ ansible_check_mode }}"
