---
### REQUIREMENTS ###

- name: Installed required php extensions
  ansible.builtin.apt:
    package:
      - php-ldap
      - php-mbstring

### SELF SERVICE PASSWORD INSTALLATION ###

##### GET/SET FACTS #####

- name: Set variables for tar.gz installation method
  ansible.builtin.set_fact:
    self_service_password_configcfg_dir: "{{ self_service_password_install_dir }}/config"

- name: Check if self-service-password installation directory exists
  ansible.builtin.stat:
    path: "{{ self_service_password_install_dir }}"
  register: self_service_password_dir

- name: Set the default installation action (do nothing)
  ansible.builtin.set_fact:
    self_service_password_action: none

- name: Check if initial installation should be performed
  ansible.builtin.set_fact:
    self_service_password_action: initial
  when:
    - ansible_local.self_service_password.installed.version is undefined
    - not self_service_password_dir.stat.exists

- name: Check if upgrade should be performed
  ansible.builtin.set_fact:
    self_service_password_action: upgrade
  when:
    - ansible_local.self_service_password.installed.version is defined
    - ansible_local.self_service_password.installed.version < self_service_password_version
    - self_service_password_dir.stat.exists

##### DOWNLOAD/INSTALLATION #####

- name: Download self-service-password tar.gz
  ansible.builtin.get_url:
    url: https://ltb-project.org/archives/ltb-project-self-service-password-{{ self_service_password_version }}.tar.gz
    dest: /root/self-service-password-{{ self_service_password_version }}.tar.gz
    owner: root
    group: root
    mode: "0640"
  retries: 3
  when: self_service_password_action == 'initial' or self_service_password_action == 'upgrade'
  check_mode: false

- name: Create self-service-password tar.gz extraction directory
  ansible.builtin.file:
    path: /root/self-service-password-unpack
    state: directory
    mode: "0750"
  when: self_service_password_action == 'initial' or self_service_password_action == 'upgrade'
  check_mode: false

- name: Extract self-service-password tar.gz
  ansible.builtin.unarchive:
    src: "/root/self-service-password-{{ self_service_password_version }}.tar.gz"
    dest: "/root/self-service-password-unpack"
    remote_src: true
    owner: root
    group: www-data
    mode: u=rwX,g=rX
  when: self_service_password_action == 'initial' or self_service_password_action == 'upgrade'

- name: Delete old self-service-password installation
  ansible.builtin.file:
    path: "{{ self_service_password_install_dir }}"
    state: absent
  when: self_service_password_action == 'upgrade'

- name: Move self_service_password extraction directory to install directory
  ansible.builtin.command: mv /root/self-service-password-unpack/ltb-project-self-service-password-{{ self_service_password_version }} '{{
    self_service_password_install_dir }}'
  when: self_service_password_action == 'initial' or self_service_password_action == 'upgrade'

##### ANSIBLE FACTS #####

- name: Create ansible facts.d directory
  ansible.builtin.file:
    path: /etc/ansible/facts.d
    state: directory
    mode: "0755"

- name: Create self-service-password installed fact file
  ansible.builtin.template:
    src: etc_ansible_facts.d_self_service_password.fact.j2
    dest: /etc/ansible/facts.d/self_service_password.fact
    mode: "0644"

### CONFIGURATION ###

- name: Copy self-service-password configuration
  ansible.builtin.template:
    src: "var_www_self-service-password_conf_config.inc.local.php.j2"
    dest: "{{ self_service_password_install_dir }}/conf/config.inc.local.php"
    owner: root
    group: www-data
    mode: "0640"

- name: Copy self-service-password stylesheet/images
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: www-data
    mode: "0644"
  with_items:
    - src: var_www_self-service-password_images_background.png
      dest: "{{ self_service_password_install_dir }}/images/background.png"
    - src: var_www_self-service-password_images_logo.png
      dest: "{{ self_service_password_install_dir }}/images/logo.png"
    - src: var_www_self-service-password_css_self-service-password.css
      dest: "{{ self_service_password_install_dir }}/css/self-service-password.css"

### CLEANUP ###

- name: Remove self-service-password tar.gz extraction directory
  ansible.builtin.file:
    path: /root/self-service-password-unpack
    state: absent

### SSL/TLS CERTIFICATES ###

- ansible.builtin.import_tasks: self-service-password-ssl-selfsigned.yml
  when: self_service_password_https_mode == 'selfsigned'

### APACHE CONFIGURATION ###

- name: Load distribution-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_facts.distribution }}-{{ ansible_facts.distribution_release }}.yml"

- name: Copy php-fpm configuration
  ansible.builtin.template:
    src: etc_php_PHPVERSION_fpm_pool.d_self-service-password.conf.j2
    dest: /etc/php/{{ php_fpm_version }}/fpm/pool.d/self-service-password.conf
    mode: "0644"
  notify: restart php-fpm

- name: Copy apache2 virtualhost configuration
  ansible.builtin.template:
    src: etc_apache2_sites-available_self-service-password.conf.j2
    dest: /etc/apache2/sites-available/self-service-password.conf
    mode: "0644"
  notify: reload apache

- name: Enable apache2 virtualhost
  ansible.builtin.command: a2ensite self-service-password
  args:
    creates: "/etc/apache2/sites-enabled/self-service-password.conf"
  notify: restart apache

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
