---
- name: Install requirements for SSL/TLS certificates generation
  ansible.builtin.apt:
    state: present
    package:
      - python3-openssl
      - ssl-cert

- name: Create directory for openldap SSL certs/keys
  ansible.builtin.file:
    path: /etc/ssl/openldap
    state: directory
    owner: root
    group: openldap
    mode: "0750"

- name: Generate openssl private key
  community.crypto.openssl_privatekey:
    path: "/etc/ssl/openldap/{{ openldap_fqdn }}.key"
    owner: root
    group: openldap
    mode: "0640"
  notify: restart slapd
  ignore_errors: "{{ ansible_check_mode }}"

- name: Generate openssl certificate signing request
  community.crypto.openssl_csr:
    path: "/etc/ssl/openldap/{{ openldap_fqdn }}.csr"
    privatekey_path: "/etc/ssl/openldap/{{ openldap_fqdn }}.key"
    common_name: "{{ openldap_fqdn }}"
    key_usage: "digitalSignature,keyEncipherment"
    basicConstraints: "CA:TRUE"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Generate self-signed openssl certificate
  community.crypto.x509_certificate:
    path: "/etc/ssl/openldap/{{ openldap_fqdn }}.crt"
    privatekey_path: "/etc/ssl/openldap/{{ openldap_fqdn }}.key"
    csr_path: "/etc/ssl/openldap/{{ openldap_fqdn }}.csr"
    provider: selfsigned
    owner: root
    group: openldap
    mode: "0640"
  notify: restart slapd
  ignore_errors: "{{ ansible_check_mode }}"

- name: Configure slapd to use self-signed server certificates
  community.general.ldap_attrs:
    dn: "cn=config"
    attributes: "{{ item }}"
    state: "exact"
  with_items:
    - { olcTLSCACertificateFile: "/etc/ssl/openldap/{{ openldap_fqdn }}.crt" }
    - { olcTLSCertificateFile: "/etc/ssl/openldap/{{ openldap_fqdn }}.crt" }
    - { olcTLSCertificateKeyFile: "/etc/ssl/openldap/{{ openldap_fqdn }}.key" }
  ignore_errors: "{{ ansible_check_mode }}"

- name: Create local certificates directory on the controller
  become: false
  delegate_to: localhost
  ansible.builtin.file:
    path: "{{ playbook_dir }}/certificates/"
    state: directory
    mode: "0755"

- name: Download self-signed certificate to the controller
  ansible.builtin.fetch:
    src: "/etc/ssl/openldap/{{ openldap_fqdn }}.crt"
    dest: "{{ playbook_dir }}/certificates/{{ openldap_fqdn }}.openldap.crt"
    flat: true
