# Systemd unit file for mailcatcher
# https://github.com/sj26/mailcatcher#command-line-options
[Unit]
Description=mailcatcher - catches any e-mail sent to it to display in a web interface
After=syslog.target
After=network.target

[Service]
RestartSec=5s
Type=simple
User=mailcatcher
Group=mailcatcher
WorkingDirectory=~
ExecStart=/var/lib/mailcatcher/.gem/ruby/2.7.0/bin/mailcatcher --smtp-ip {{ mailcatcher_smtp_listen_ip }} --smtp-port 1025 --http-ip {{ mailcatcher_http_listen_ip }} --http-port=8025 --foreground --verbose
Restart=always

[Install]
WantedBy=multi-user.target
