---
##### INSTALLATION #####

- name: Install required packages for gitlab runner
  ansible.builtin.apt:
    package:
      - gpg
      - gpg-agent
      - debian-archive-keyring
      - apt-transport-https
      - curl
      - ca-certificates
      - python3-gitlab
    state: present

- name: Add APT pinning configuration for gitlab runner
  ansible.builtin.template:
    src: etc_apt_preferences.d_pin-gitlab-runner.pref.j2
    dest: /etc/apt/preferences.d/pin-gitlab-runner.pref
    owner: root
    group: root
    mode: "0644"

- name: Add gitlab-runner APT repository signing key
  ansible.builtin.apt_key:
    url: https://packages.gitlab.com/gpg.key
    state: present
  ignore_errors: "{{ ansible_check_mode }}"

- name: Add gitlab-runner APT repositories
  ansible.builtin.apt_repository:
    repo: deb https://packages.gitlab.com/runner/gitlab-runner/debian/ buster main
    filename: gitlab-runner
    state: present
  notify: update apt cache

- name: Install gitlab-runner
  ansible.builtin.apt:
    package: gitlab-runner
    state: present
  ignore_errors: "{{ ansible_check_mode }}"

# required to run jobs in docker containers
- name: Add gitlab-runner user to the docker group
  ansible.builtin.user:
    name: gitlab-runner
    groups: docker
    append: true
  ignore_errors: "{{ ansible_check_mode }}"

# workaround for https://gitlab.com/gitlab-org/gitlab-runner/issues/4449
- name: Remove .bash_logout in gitlab-runner home
  ansible.builtin.file:
    path: /home/gitlab-runner/.bash_logout
    state: absent

##### CONFIGURATION #####

- name: Register gitlab-runner on the gitlab instance
  community.general.gitlab_runner:
    api_token: "{{ gitlab_runner_api_token }}"
    api_url: "{{ gitlab_runner_gitlab_url }}"
    description: "{{ gitlab_runner_description }}"
    registration_token: "{{ gitlab_runner_registration_token }}"
    access_level: "{{ gitlab_runner_access_level }}"
    state: present
    maximum_timeout: "{{ gitlab_runner_maximum_timeout }}"
  register: gitlab_runner_register
  notify: restart gitlab-runner
  ignore_errors: "{{ ansible_check_mode }}"

- name: Get existing gitlab-runner configuration
  ansible.builtin.slurp:
    src: /etc/gitlab-runner/config.toml
  register: gitlab_runner_config
  ignore_errors: "{{ ansible_check_mode }}"

- name: Extract runner token from existing configuration
  ansible.builtin.set_fact:
    gitlab_runner_token: "{{ gitlab_runner_config['content'] | b64decode | regex_search(' token = \"(.*)\"', '\\1') }}"
  ignore_errors: "{{ ansible_check_mode }}"

# - debug:
#     msg: "{{ gitlab_runner_config }}"
#   tags: debug-gl-runner-token

- name: Configure gitlab-runner
  ansible.builtin.template:
    src: etc_gitlab-runner_config.toml.j2
    dest: /etc/gitlab-runner/config.toml
    owner: root
    group: root
    mode: "0600"
  ignore_errors: "{{ ansible_check_mode }}"

##### SERVICE #####

- name: Enable gitlab runner service
  ansible.builtin.service:
    name: gitlab-runner
    state: started
    enabled: true
  when: gitlab_runner_enable_service|bool
  ignore_errors: "{{ ansible_check_mode }}"

- name: Disable gitlab runner service
  ansible.builtin.service:
    name: gitlab-runner
    state: stopped
    enabled: false
  when: not gitlab_runner_enable_service|bool
  ignore_errors: "{{ ansible_check_mode }}"
