---
- name: Copy apache fail2ban jail config
  ansible.builtin.template:
    src: etc_fail2ban_jail.d_apache.conf.j2
    dest: /etc/fail2ban/jail.d/apache.conf
    owner: root
    group: root
    mode: "0644"
  notify: reload fail2ban

- name: Copy fail2ban apache-default-vhost filter
  ansible.builtin.template:
    src: etc_fail2ban_filter.d_apache-default-vhost.conf.j2
    dest: /etc/fail2ban/filter.d/apache-default-vhost.conf
    owner: root
    group: root
    mode: "0644"
  notify: reload fail2ban
