---
- name: Forward all www-data cron jobs mail to root
  ansible.builtin.lineinfile:
    path: /etc/aliases
    state: present
    create: true
    regexp: "^www-data"
    line: "www-data: root"
    owner: root
    group: root
    mode: "0644"
