---
- name: Import variable checks tasks
  ansible.builtin.import_tasks: checks.yml
  tags:
    - apache
    - checks

- name: Load distribution-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_facts.distribution }}-{{ ansible_facts.distribution_release }}.yml"
  tags:
    - apache
    - monitoring
    - rsyslog

- name: Import self-signed certificates configuration tasks
  ansible.builtin.import_tasks: ssl-selfsigned.yml
  become: true
  tags:
    - apache
    - ssl
    - apache-reverseproxy

- name: Import apache configuration tasks
  ansible.builtin.import_tasks: apache.yml
  become: true
  tags:
    - apache

- name: Import system mail configuration tasks
  ansible.builtin.import_tasks: mail.yml
  become: true
  tags:
    - apache
    - mail

- name: Import fail2ban configuration tasks
  ansible.builtin.import_tasks: fail2ban.yml
  become: true
  tags:
    - apache
    - fail2ban
  when:
    - ansible_local.fail2ban.ansible_managed is defined
    - ansible_local.fail2ban.ansible_managed | bool

- name: Import rsyslog configuration tasks
  ansible.builtin.import_tasks: rsyslog.yml
  become: true
  tags:
    - apache
    - monitoring
    - rsyslog
  when:
    - ansible_local.rsyslog.ansible_managed is defined
    - ansible_local.rsyslog.ansible_managed | bool

- name: Import netdata configuration tasks
  ansible.builtin.import_tasks: netdata.yml
  become: true
  tags:
    - apache
    - monitoring
    - netdata
  when:
    - ansible_local.netdata.ansible_managed is defined
    - ansible_local.netdata.ansible_managed | bool

- name: Import ansible facts configuration tasks
  ansible.builtin.import_tasks: fact.yml
  become: true
  tags: apache

- name: Import firewalld configuration tasks
  ansible.builtin.import_tasks: firewalld.yml
  become: true
  tags:
    - apache
    - firewall
  when:
    - ansible_local.firewalld.ansible_managed is defined
    - ansible_local.firewalld.ansible_managed | bool

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags:
    - apache
    - monitoring
    - fail2ban
