---
- name: Install requirements for SSL/TLS certificates generation
  ansible.builtin.apt:
    package:
      - python3-openssl
      - ssl-cert
    state: present

- name: Generate private key for default virtualhost
  community.crypto.openssl_privatekey:
    path: "/etc/ssl/private/localhost.key"
  notify: restart apache
  ignore_errors: "{{ ansible_check_mode }}"

- name: Generate certificate signing request for default virtualhost
  community.crypto.openssl_csr:
    path: "/etc/ssl/private/localhost.csr"
    privatekey_path: "/etc/ssl/private/localhost.key"
    common_name: "localhost"
    key_usage: "digitalSignature,keyEncipherment"
    basicConstraints: "CA:TRUE"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Generate self-signed certificate for default virtualhost
  community.crypto.x509_certificate:
    path: "/etc/ssl/certs/localhost.crt"
    privatekey_path: "/etc/ssl/private/localhost.key"
    csr_path: "/etc/ssl/private/localhost.csr"
    provider: selfsigned
  notify: restart apache
  ignore_errors: "{{ ansible_check_mode }}"

##### REVERSE PROXIES #####

- name: Generate private keys for self-signed certificates
  community.crypto.openssl_privatekey:
    path: "/etc/ssl/private/{{ item.servername }}.key"
  notify: restart apache
  ignore_errors: "{{ ansible_check_mode }}"
  when: (item.https_mode is not defined) or (item.https_mode == 'selfsigned')
  with_items: "{{ apache_reverseproxies }}"

- name: Generate certificate signing request for self-signed certificates
  community.crypto.openssl_csr:
    path: "/etc/ssl/private/{{ item.servername }}.csr"
    privatekey_path: "/etc/ssl/private/{{ item.servername }}.key"
    common_name: "localhost"
    key_usage: "digitalSignature,keyEncipherment"
    basicConstraints: "CA:TRUE"
  ignore_errors: "{{ ansible_check_mode }}"
  when: (item.https_mode is not defined) or (item.https_mode == 'selfsigned')
  with_items: "{{ apache_reverseproxies }}"

- name: Generate self-signed certificate for self-signed certificates
  community.crypto.x509_certificate:
    path: "/etc/ssl/certs/{{ item.servername }}.crt"
    privatekey_path: "/etc/ssl/private/{{ item.servername }}.key"
    csr_path: "/etc/ssl/private/{{ item.servername }}.csr"
    provider: selfsigned
  notify: restart apache
  ignore_errors: "{{ ansible_check_mode }}"
  when: (item.https_mode is not defined) or (item.https_mode == 'selfsigned')
  with_items: "{{ apache_reverseproxies }}"

- name: Create local certificates directory on the controller
  become: false
  delegate_to: localhost
  ansible.builtin.file:
    path: "{{ playbook_dir }}/data/certificates/"
    state: directory
    mode: "0755"

- name: Download self-signed certificates to the controller
  ansible.builtin.fetch:
    src: /etc/ssl/certs/{{ item.servername }}.crt
    dest: "{{ playbook_dir }}/data/certificates/{{ item.servername }}.crt"
    flat: true
  when: (item.https_mode is not defined) or (item.https_mode == 'selfsigned')
  with_items: "{{ apache_reverseproxies }}"
