image: docker.io/debian:bullseye

stages:
  - test

cache:
  paths:
    - "$CI_PROJECT_DIR/pip-cache"
    - "$CI_PROJECT_DIR/.venv"

before_script:
  - apt update && apt -y install make bash python3-venv python3-pip
  - make install_dependencies

test:
  stage: test
  script:
    - make tests
  interruptible: true
