---
##### APACHE #####

- name: Install requirements for ansible htpasswd module
  ansible.builtin.apt:
    package:
      - python3-passlib
      - python3-bcrypt
    state: present

- name: Create apache HTTP basic auth password file
  community.general.htpasswd:
    path: /etc/apache2/mailcatcher.htpasswd
    name: "{{ mailcatcher_user }}"
    password: "{{ mailcatcher_password }}"
    owner: root
    group: www-data
    mode: "0640"
  notify: reload apache
  ignore_errors: "{{ ansible_check_mode }}"

- name: Enable required apache modules
  ansible.builtin.command: a2enmod {{ item }}
  with_items:
    - headers
    - proxy
    - proxy_http
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"
  notify: restart apache
  ignore_errors: "{{ ansible_check_mode }}"

- name: Copy mailcatcher apache virtualhost configuration
  ansible.builtin.template:
    src: "etc_apache2_sites-available_mailcatcher.conf.j2"
    dest: "/etc/apache2/sites-available/mailcatcher.conf"
    owner: root
    group: root
    mode: "0644"
  notify: reload apache
  ignore_errors: "{{ ansible_check_mode }}"

- name: Enable mailcatcher apache virtualhost configuration
  ansible.builtin.command: a2ensite mailcatcher
  args:
    creates: "/etc/apache2/sites-enabled/mailcatcher.conf"
  notify: reload apache

- name: Ensure apache configuration is applied (flush handlers)
  ansible.builtin.meta: flush_handlers
