---
- name: Create mailcatcher user
  ansible.builtin.user:
    name: mailcatcher
    comment: "Mailcatcher service"
    home: "/var/lib/mailcatcher"

- name: Install requirements for mailcatcher gem builds
  ansible.builtin.package:
    name:
      - ruby-dev
      - ruby-sqlite3
      - make
      - g++
      - acl
    state: present

- name: Install mailcatcher ruby gem # noqa ignore-errors - We only ignore errors in check mode.
  become: true
  become_user: mailcatcher
  community.general.gem:
    name: mailcatcher
    version: 0.8.0
    state: present
    user_install: true
  ignore_errors: "{{ ansible_check_mode | bool }}"

- name: Install mailcatcher systemd service
  ansible.builtin.template:
    src: etc_systemd_system_mailcatcher.service.j2
    dest: /etc/systemd/system/mailcatcher.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - reload systemd unit files
    - restart mailcatcher

- name: Enable/disable start/stop mailcatcher service # noqa ignore-errors - We only ignore errors in check mode.
  ansible.builtin.systemd:
    name: mailcatcher
    enabled: "{{ mailcatcher_enable_service }}"
    state: "{{ 'started' if mailcatcher_enable_service else 'stopped' }}"
    daemon_reload: true
  ignore_errors: "{{ ansible_check_mode | bool }}"
