---
- name: Import variable checks tasks
  ansible.builtin.import_tasks: checks.yml
  tags:
    - mailcatcher
    - checks

- name: Import Mailcatcher configuration tasks
  ansible.builtin.import_tasks: mailcatcher.yml
  become: true
  tags: mailcatcher

- name: Import self-signed certificates configuration tasks
  ansible.builtin.import_tasks: ssl-selfsigned.yml
  become: true
  tags: mailcatcher

- name: Import apache configuration tasks
  ansible.builtin.import_tasks: apache.yml
  become: true
  tags: mailcatcher
