---
- name: "Import proxmox task"
  ansible.builtin.import_tasks: proxmox.yml
  become: true
  tags: proxmox

- name: "Import fail2ban task"
  ansible.builtin.import_tasks: fail2ban.yml
  become: true
  tags:
    - proxmox
    - fail2ban
  when:
    - ansible_local.fail2ban.ansible_managed is defined
    - ansible_local.fail2ban.ansible_managed|bool
