---
- name: Remove files from old versions of the role
  ansible.builtin.file:
    state: absent
    path: "{{ item }}"
  with_items:
    - "/etc/apt/sources.list.d/debian-contrib.list"
    - "/etc/apt/sources.list.d/debian-updates-contrib.list"
    - "/etc/apt/sources.list.d/debian-security-contrib.list"

- name: Copy APT sources lists for proxmox (contrib, pve-no-subscription)
  ansible.builtin.template:
    src: etc_apt_sources.list.d_proxmox.list.j2
    dest: /etc/apt/sources.list.d/proxmox.list
    owner: root
    group: root
    mode: "0644"

- name: Hide OS name in postfix banner
  ansible.builtin.lineinfile:
    path: /etc/postfix/main.cf
    regexp: "^smtpd_banner"
    line: "smtpd_banner = $myhostname ESMTP"
    mode: "0644"
    owner: root
    group: root
