### MEMORY/SWAP

# Do not swap unless necessary (disabled)
#vm.swappiness = 10

# Prefer caching pages over inodes/dentries (disabled)
#vm.vfs_cache_pressure = 150

# Kernel virtual memory accounting mode
# 0: heuristic overcommit (this is the default)
#vm.overcommit_memory = 0
#vm.overcommit_ratio = 100
