---
- name: Copy syslog-tcp-ssl firewalld service definition
  ansible.builtin.template:
    src: etc_firewalld_services_syslog-tcp-ssl.xml.j2
    dest: /etc/firewalld/services/syslog-tcp-ssl.xml
    owner: root
    group: adm
    mode: "0640"
  notify: reload firewalld
  ignore_errors: "{{ ansible_check_mode }}"

# reload firewalld service definitions
- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
- name: Setup firewalld rules for rsyslog
  ansible.posix.firewalld:
    zone: "{{ item.zone }}"
    service: syslog-tcp-ssl
    state: "{{ item.state if rsyslog_enable_receive else 'disabled' }}"
    permanent: true
    immediate: true
  with_items: "{{ rsyslog_firewalld_zones }}"
