---
- name: Import variable checks tasks
  ansible.builtin.import_tasks: checks.yml
  tags:
    - monitoring
    - rsyslog
    - checks

- name: Import rsyslog server/CA certificates configuration tasks
  ansible.builtin.import_tasks: rsyslog-ssl-server.yml
  become: true
  tags:
    - monitoring
    - rsyslog
    - ssl
  when: rsyslog_enable_receive | bool

- name: Import rsyslog client certificates configuration tasks
  ansible.builtin.import_tasks: rsyslog-ssl-client.yml
  become: true
  tags:
    - monitoring
    - rsyslog
    - ssl
  when: rsyslog_enable_forwarding | bool

- name: Import rsyslog configuration tasks
  ansible.builtin.import_tasks: rsyslog.yml
  become: true
  tags:
    - monitoring
    - rsyslog

- name: Import firewalld configuration tasks
  ansible.builtin.import_tasks: firewalld.yml
  become: true
  tags:
    - monitoring
    - rsyslog
    - firewall
  when:
    - ansible_local.firewalld.ansible_managed is defined
    - ansible_local.firewalld.ansible_managed | bool

- name: Import ansible facts configuration tasks
  ansible.builtin.import_tasks: fact.yml
  become: true
  tags:
    - monitoring
    - rsyslog

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags:
    - monitoring
    - rsyslog
