version: '3.8'

networks:
  nginx:
    external: true

services:
  nginx-reverseproxy:
    image: nginx:alpine
    volumes:
      - /etc/docker/services-config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/docker/services-config/nginx/conf.d/:/etc/nginx/conf.d/:ro
      - /etc/docker/services-config/nginx/static:/usr/share/nginx/static:ro
      - /etc/docker/services-config/nginx/ssl/selfsigned/:/etc/nginx/ssl/selfsigned/:ro
      - /etc/letsencrypt/:/etc/nginx/ssl/letsencrypt/:ro
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    networks:
{% if nginx_docker_aliases %}
      nginx:
        aliases:
{% for alias in nginx_docker_aliases %}
          - {{ alias }}
{% endfor %}
{% else %}
      - nginx
{% endif %}
{% if nginx_docker_label_constraint is defined %}
    deploy:
      placement:
        constraints: [ node.labels.{{ nginx_docker_label_constraint }} == true ]
{% endif %}
