- name: update apt cache
  become: yes
  ansible.builtin.apt:
    update_cache: yes

- name: restart gitlab-runner
  become: yes
  service:
    name: gitlab-runner
    state: restarted
  ignore_errors: "{{ ansible_check_mode }}"
