---
- name: Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Restart gitlab-runner
  become: true
  ansible.builtin.service:
    name: gitlab-runner
    state: restarted
  ignore_errors: "{{ ansible_check_mode }}"
