---
- name: Update pam configuration
  become: true
  ansible.builtin.command: "pam-auth-update --package"
  changed_when: true

- name: Restart systemd-logind
  become: true
  ansible.builtin.service:
    name: systemd-logind
    state: restarted
    enabled: true

- name: Restart ssh
  become: true
  ansible.builtin.service:
    name: ssh
    state: restarted
    enabled: true

- name: Restart crond
  become: true
  ansible.builtin.service:
    name: cron
    state: restarted
    enabled: true
