---
- name: Import variable checks tasks
  ansible.builtin.import_tasks: checks.yml
  tags:
    - monitoring
    - netdata
    - checks

- name: Import netdata configuration tasks
  ansible.builtin.import_tasks: netdata.yml
  become: true
  tags:
    - monitoring
    - netdata

- name: Import ansible facts configuration tasks
  ansible.builtin.import_tasks: fact.yml
  become: true
  tags:
    - monitoring
    - netdata

- name: Import netdata-netdata-module-needrestart configuration tasks
  ansible.builtin.import_tasks: netdata-module-needrestart.yml
  become: true
  tags:
    - monitoring
    - netdata
    - netdata-modules
    - netdata-needrestart
  when: setup_needrestart | bool

- name: Import netdata-module-logcount configuration tasks
  ansible.builtin.import_tasks: netdata-module-logcount.yml
  become: true
  tags:
    - monitoring
    - netdata
    - netdata-modules
    - netdata-logcount
  when: setup_netdata_logcount | bool

- name: Import netdata-module-debsecan configuration tasks
  ansible.builtin.import_tasks: netdata-module-debsecan.yml
  become: true
  tags:
    - monitoring
    - netdata
    - netdata-modules
    - netdata-debsecan
  when: setup_netdata_debsecan | bool

- name: Import netdata-module-apt configuration tasks
  ansible.builtin.import_tasks: netdata-module-apt.yml
  become: true
  tags:
    - monitoring
    - netdata
    - netdata-modules
    - netdata-apt
  when: setup_netdata_apt | bool

- name: Import rsyslog configuration tasks
  ansible.builtin.import_tasks: rsyslog.yml
  become: true
  tags:
    - netdata
    - rsyslog
    - monitoring
  when:
    - ansible_local.rsyslog.ansible_managed is defined
    - ansible_local.rsyslog.ansible_managed | bool

- name: Import firewalld configuration tasks
  ansible.builtin.import_tasks: firewalld.yml
  become: true
  tags:
    - monitoring
    - netdata
    - firewall
  when:
    - ansible_local.firewalld.ansible_managed is defined
    - ansible_local.firewalld.ansible_managed | bool

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags:
    - monitoring
    - netdata
    - firewall

##### UTILITIES ####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- name: Import netdata notification testing tasks
  ansible.builtin.import_tasks: utils-netdata-test-notifications.yml
  tags:
    - never
    - utils-netdata-test-notifications

- name: Import automatic reboot/restart tasks
  ansible.builtin.import_tasks: utils-autorestart.yml
  become: true
  tags:
    - never
    - utils-autorestart
