---
### NETDATA-NEEDRESTART ###

- name: Install needrestart
  ansible.builtin.apt:
    state: present
    package: needrestart

- name: Copy needrestart configuration
  ansible.builtin.template:
    src: "etc_needrestart_conf.d_autorestart.conf.j2"
    dest: "/etc/needrestart/conf.d/autorestart.conf"
    mode: "0600"

- name: Clone netdata-needrestart module
  ansible.builtin.git:
    dest: "/root/netdata-needrestart"
    repo: "https://gitlab.com/nodiscc/netdata-needrestart"
    version: "1.0.3"
    accept_hostkey: true
    force: true # discard modified files
  ignore_errors: "{{ ansible_check_mode }}"

- name: Generate initial needrestart report
  ansible.builtin.command: needrestart -b > /var/log/needrestart.log
  args:
    creates: "/var/log/needrestart.log"

- name: Configure cron to refresh needrestart report
  ansible.builtin.cron:
    cron_file: "needrestart"
    month: "*"
    day: "*"
    hour: "*" # every hour
    minute: "0"
    job: /usr/sbin/needrestart -b > /var/log/needrestart.log 2>&1
    name: "needrestart"
    user: root

- name: Configure dpkg to refresh the file after each run
  ansible.builtin.copy:
    remote_src: true
    src: "/root/netdata-needrestart/etc_apt_apt.conf.d_99needrestart"
    dest: "/etc/apt/apt.conf.d/99needrestart"
    mode: "0644"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install netdata-needrestart module/configuration/alarms
  ansible.builtin.copy:
    remote_src: true
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: netdata
    mode: "0640"
  with_items:
    - { src: "/root/netdata-needrestart/needrestart.chart.py", dest: "/usr/libexec/netdata/python.d/needrestart.chart.py" }
    - { src: "/root/netdata-needrestart/needrestart.conf", dest: "/etc/netdata/python.d/needrestart.conf" }
    - { src: "/root/netdata-needrestart/health.d_needrestart.conf", dest: "/etc/netdata/health.d/needrestart.conf" }
  notify: restart netdata
  ignore_errors: "{{ ansible_check_mode }}"

- name: Copy needrestart automatic reboot script
  ansible.builtin.copy:
    src: usr_local_bin_needrestart-autorestart
    dest: /usr/local/bin/needrestart-autorestart
    owner: root
    group: root
    mode: "0755"

- name: Setup needrestart cron job
  ansible.builtin.template:
    src: etc_cron.d_needrestart-autorestart.j2
    dest: /etc/cron.d/needrestart-autorestart
    owner: root
    group: root
    mode: "0644"
