---
### NETDATA-LOGCOUNT ###

- name: Install lnav log viewer
  ansible.builtin.apt:
    package: lnav
    state: present

- name: Clone netdata-logcount module
  ansible.builtin.git:
    dest: "/root/netdata-logcount"
    repo: "https://gitlab.com/nodiscc/netdata-logcount"
    version: "1.0.4"
    accept_hostkey: true
    force: true # discard modified files
  ignore_errors: "{{ ansible_check_mode }}"

- name: Create directory for netdata-logcount lnav script
  ansible.builtin.file:
    path: /opt/netdata-logcount/
    state: directory
    mode: "0755"

- name: Copy configuration/lnav script for netdata-logcount
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: netdata
    mode: "0640"
  with_items:
    - { src: "opt_netdata-logcount_logcount.sql.j2", dest: "/opt/netdata-logcount/logcount.sql" }
    - { src: "etc_netdata_python.d_logcount.conf.j2", dest: "/etc/netdata/python.d/logcount.conf" }
    - { src: "etc_netdata_health.d_logcount.conf.j2", dest: "/etc/netdata/health.d/logcount.conf" }
  notify: restart netdata

- name: Install netdata-logcount module
  ansible.builtin.copy:
    remote_src: true
    src: "/root/netdata-logcount/logcount.chart.py"
    dest: "/usr/libexec/netdata/python.d/logcount.chart.py"
    owner: root
    group: netdata
    mode: "0750"
  notify: restart netdata
  ignore_errors: "{{ ansible_check_mode }}"
  diff: false
  when: "netdata_logcount_update_interval != 0"

- name: Remove netdata-logcount module
  ansible.builtin.file:
    path: /usr/libexec/netdata/python.d/logcount.chart.py
    state: absent
  notify: restart netdata
  ignore_errors: "{{ ansible_check_mode }}"
  diff: false
  when: "netdata_logcount_update_interval == 0"

- name: Add a cron job to refresh the logcount state file
  ansible.builtin.cron:
    cron_file: "logcount"
    month: "*"
    day: "*"
    hour: "*"
    minute: "*/{{ netdata_logcount_update_interval }}"
    job: script --return --quiet -c "/usr/bin/lnav /var/log/syslog -n -f /opt/netdata-logcount/logcount.sql" > /dev/null
    name: "logcount"
    user: root
    disabled: "{{ True if netdata_logcount_update_interval == 0 else False }}"

- name: Set read permissions for netdata on /var/cache/logcount
  ansible.builtin.file:
    path: /var/cache/logcount
    state: touch
    owner: root
    group: netdata
    mode: "0640"
    modification_time: preserve
    access_time: preserve
