---
- name: Send test netdata notification
  become: true
  become_user: netdata
  ansible.builtin.command: /usr/libexec/netdata/plugins.d/alarm-notify.sh test
  environment:
    NETDATA_ALARM_NOTIFY_DEBUG: "1"
  changed_when: true
