---
- name: Check if host must be rebooted
  ansible.builtin.command: needrestart -b -k
  register: monitoring_netdata_needrestart_kernel
  changed_when: false
  check_mode: false # run even in check mode as it doesn't change anything
  ignore_errors: "{{ ansible_check_mode }}"

- name: Reboot host if an updated kernel must be loaded
  ansible.builtin.reboot:
  when: "'NEEDRESTART-KSTA: 3' in monitoring_netdata_needrestart_kernel.stdout_lines"

- name: Restart services if required after an upgrade
  ansible.builtin.command: needrestart -r a
  become: true
  register: monitoring_netdata_needrestart_services
  changed_when: "'No services need to be restarted.' not in monitoring_netdata_needrestart_services.stdout_lines"
