---
- name: Restart nginx docker service
  become: true
  ansible.builtin.command: docker service update --force nginx-reverseproxy_nginx-reverseproxy
  changed_when: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Reload systemd unit files
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
