# The default virtualhost will be served for requests that do not match any known servername,
# for example trying to access the server with just an IP address. It just displays/logs a 404 error.
<VirtualHost *:{{ apache_http_port }}>
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    {% if apache_with_ssl %}
    RewriteCond %{REQUEST_URI} !=/server-status
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    {% endif %}
</VirtualHost>
{% if apache_with_ssl %}
<VirtualHost _default_:{{ apache_https_port }}>
    ServerName localhost
    DocumentRoot /var/www/html
    SSLEngine On
    # Use the default self-signed certificate for localhost
    SSLCertificateFile /etc/ssl/certs/localhost.crt
    SSLCertificateKeyFile /etc/ssl/private/localhost.key
</VirtualHost>
{% endif %}
