{% for item in apache_reverseproxies %}
<VirtualHost *:80>
    ServerName {{ item.servername }}
    # Redirect all HTTP requests to HTTPS
{% if item.https_mode == 'selfsigned' and (item.redirect_https is not defined or item.redirect_https) %}
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
{% if item.https_mode is not defined or item.https_mode == 'none' %}

{% if item.with_wss is defined and item.with_wss %}
  # Websocket cf. https://httpd.apache.org/docs/2.4/mod/mod_proxy_wstunnel.html
  RewriteEngine on
  RewriteCond ${HTTP:Upgrade} websocket [NC]
  RewriteCond ${HTTP:Connection} upgrade [NC]
  RewriteRule /(.*) "{{ item.wss_upstream }}/$1" [P,L]
{% endif %}

{% if item.with_wss is defined and item.with_wss and item.wss_proxypass %}
  ProxyPass /{{item.wss_proxypass }} {{ item.wss_upstream }}/{{ item.wss_proxypass }}
  ProxyPassReverse /{{item.wss_proxypass }} {{ item.wss_upstream }}/{{ item.wss_proxypass }}
{% endif %}
  ProxyPass / {{ item.upstream }}/
  ProxyPassReverse / {{ item.upstream }}/

{% endif %}
</VirtualHost>

{% if item.https_mode == 'letsencrypt' %}
MDomain {{ item.servername }}
{% if item.redirect_https is not defined or item.redirect_https %}
MDRequireHttps permanent
{% endif %}
{% endif %}

{%if item.https_mode is defined and item.https_mode != 'none' %}
<VirtualHost *:443>
  ServerName  {{ item.servername }}
  SSLEngine on
{% if item.allow_tls12 is defined and item.allow_tls12 %}
  SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
{% endif %}

  # Logging; possible values include:
  # debug, info, notice, warn, error, crit, alert, emerg
  LogLevel warn
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

{% if item.https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ item.servername }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ item.servername }}.key
{% endif %}

  # Inform the proxied server that the original request was done over HTTPS
  RequestHeader set X-Forwarded-Proto https
 
 RequestHeader set X-Forwarded-Ssl on

{% if item.with_wss is defined and item.with_wss %}
  # Websocket cf. https://httpd.apache.org/docs/2.4/mod/mod_proxy_wstunnel.html
  RewriteEngine on
  RewriteCond ${HTTP:Upgrade} websocket [NC]
  RewriteCond ${HTTP:Connection} upgrade [NC]
  RewriteRule .* "{{ item.wss_upstream }}$1" [P,L]

{% endif %}

  SSLProxyEngine on
  SSLProxyCheckPeerCN off
  SSLProxyCheckPeerName off
  ProxyPreserveHost On
  ProxyRequests off
  ProxyPass / {{ item.upstream }}/
  ProxyPassReverse / {{ item.upstream }}/
</VirtualHost>
{% endif %}
{% endfor %}

