# Fail2Ban apache-default-vhost filter
#
# This fail2ban filter matches all requests to the default apache virtualhost
# Apache logs are expected to be in a custom format of form "%t %v:%p h:%<h ff:%{X-Forwarded-For}i ...",
# the default vhost ServerName must be 'default'.
# See : https://httpd.apache.org/docs/current/fr/mod/mod_log_config.html#logformat

[INCLUDES]
before = apache-common.conf

[Definition]
#failregex = ^default:(80|443) <HOST>
# The timestamp is surrounded with square brackets.
# Fail2Ban remove the timestamp (see https://fail2ban.readthedocs.io/en/latest/filters.html) => square brackets are left emtpy.
# Then we match the host "default" and the port.
# And finally :
# - either the address from the X-Forwarded-For HTT Header (if any);
# - either the address from the remote server.
# This aims to avoid the ban of front-end reverse proxy.
failregex = ^\[\] default:(80|443) (.*ff:[^-]|h:)<HOST>
