---
- name: Show deprecation message
  tags: docker_nginx
  ansible.builtin.debug:
    msg: "**DEPRECATED** This role is deprecated in favor of the apache role. If you are still using this role, please adapt your nginx configuration for apache,
      then set `docker_nginx_remove: yes` before applying the apache role (this will remove the nginx Docker service/configuration and allow apache to bind port 80/443)."

- name: "Import checks task"
  ansible.builtin.import_tasks: checks.yml
  tags:
    - docker_nginx
    - checks

- name: Uninstall other web servers
  become: true
  ansible.builtin.apt:
    state: absent
    package:
      - apache2
      - nginx
  when: not docker_nginx_remove|bool
  tags: docker_nginx

- name: "Import docker-nginx task"
  ansible.builtin.import_tasks: docker-nginx.yml
  become: true
  when: not docker_nginx_remove|bool
  tags: docker_nginx

- name: "Import ssl-letsencrypt task"
  ansible.builtin.include_tasks: ssl-letsencrypt.yml
  with_items: "{{ nginx_letsencrypt_certificates }}"
  when: not docker_nginx_remove|bool
  tags: docker_nginx

- name: "Import remove task"
  ansible.builtin.import_tasks: remove.yml
  become: true
  when: docker_nginx_remove|bool
  tags: docker_nginx
