---
- name: Remove docker_nginx/letsencrypt configuration
  become: true
  ansible.builtin.file:
    state: absent
    path: "{{ item }}"
  with_items:
    - /etc/docker/services-config/nginx/
    - /etc/systemd/system/certbot.timer
  notify: reload systemd unit files

# don't remove certbot automatically as it may still be used by other roles
# - name: remove certbot
#   become: yes
#   package:
#     state: absent
#     name: certbot
#     autoremove: yes

- name: Remove nginx-reverseproxy docker stack
  become: true
  community.docker.docker_stack:
    name: nginx-reverseproxy
    state: absent

- name: Remove nginx docker network and handle errors (downtime, services proxied through nginx will become unreachable)
  block:
    - name: Remove nginx docker network
      become: true
      community.docker.docker_network:
        name: nginx
        state: absent
        force: true
  rescue:
    - name: Rescue - list all docker stacks
      community.docker.docker_stack_info:
      register: docker_stacks
    - name: Rescue - show docker stacks
      ansible.builtin.debug:
        var: docker_stacks.results
    - name: Rescue - delete all docker stacks
      become: true
      community.docker.docker_stack:
        state: absent
        name: "{{ item.Name }}"
      loop: "{{ docker_stacks.results }}"
    - name: Rescue - remove nginx docker network
      become: true
      retries: 5
      delay: 1
      community.docker.docker_network:
        name: nginx
        state: absent
        force: true
