---
##### LET'S ENCRYPT CERTIFICATES #####

- name: Check if certificate already exists
  become: true
  ansible.builtin.stat:
    path: "/etc/letsencrypt/live/{{ item }}/cert.pem"
  register: letsencrypt_cert
  tags: docker_nginx

- name: Stop nginx to allow certbot standalone server to bind to port 80 # noqa no-changed-when
  become: true
  ansible.builtin.command: docker service scale nginx-reverseproxy_nginx-reverseproxy=0
  when: not letsencrypt_cert.stat.exists
  failed_when: false # ignore errors since the service will not exist yet on first run
  tags: docker_nginx

- name: Wait 5 seconds to allow the nginx docker service to terminate
  ansible.builtin.wait_for:
    timeout: 5
  when: not letsencrypt_cert.stat.exists
  tags: docker_nginx

- name: Generate initial certificate # noqa no-changed-when
  become: true
  ansible.builtin.command: >
    certbot certonly --standalone --noninteractive --agree-tos
    --email "{{ nginx_letsencrypt_email }}"
    -d "{{ item }}"
  when: not letsencrypt_cert.stat.exists
  tags: docker_nginx
