---
- name: Install requirements for ansible htpasswd module
  ansible.builtin.apt:
    package:
      - python3-passlib
      - python3-bcrypt
    state: present

- name: Create apache HTTP basic auth password file
  community.general.htpasswd:
    path: /etc/apache2/adminer.htpasswd
    name: "{{ adminer_user }}"
    password: "{{ adminer_password }}"
    owner: root
    group: www-data
    mode: "0640"
  notify: reload apache
  ignore_errors: "{{ ansible_check_mode }}"

- name: Copy apache2 virtualhost configuration
  ansible.builtin.template:
    src: etc_apache2_sites-available_adminer.conf.j2
    dest: /etc/apache2/sites-available/adminer.conf
    mode: "0644"
  notify: reload apache
  ignore_errors: "{{ ansible_check_mode }}"

- name: Enable apache2 virtualhost
  ansible.builtin.command: a2ensite adminer
  args:
    creates: "/etc/apache2/sites-enabled/adminer.conf"
  notify: restart apache
  ignore_errors: "{{ ansible_check_mode }}"

- name: Ensure apache configuration is applied (flush handlers)
  ansible.builtin.meta: flush_handlers
