---
- name: Check that mandatory variables are correctly defined
  ansible.builtin.assert:
    that:
      - adminer_fqdn is not search("CHANGEME")
      - adminer_user is not search("CHANGEME")
      - adminer_password is not search("CHANGEME")
