---
- name: Import variable checks tasks
  ansible.builtin.import_tasks: checks.yml
  tags:
    - adminer
    - checks

- name: Import Adminer configuration tasks
  ansible.builtin.import_tasks: adminer.yml
  become: true
  tags: adminer

- name: Import php-fpm configuration tasks
  ansible.builtin.import_tasks: php-fpm.yml
  become: true
  tags: adminer

- name: Import self-signed certificates configuration tasks
  ansible.builtin.import_tasks: ssl-selfsigned.yml
  become: true
  tags: adminer

- name: Import apache configuration tasks
  ansible.builtin.import_tasks: apache.yml
  become: true
  tags: adminer
