---
- name: Install packages for HTTPS APT sources support
  ansible.builtin.apt:
    state: present
    package:
      - apt-transport-https
      - ca-certificates

- name: Copy apt sources lists (debian + security + backports)
  ansible.builtin.template:
    src: "etc_apt_sources.list.j2"
    dest: "/etc/apt/sources.list"
    mode: "0644"
  when: ansible_facts.distribution == 'Debian'
  notify: update apt cache

- name: Copy apt configuration
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  with_items:
    - { src: "etc_apt_apt.conf.d_99no-overwrite-conffiles.j2", dest: "/etc/apt/apt.conf.d/99no-overwrite-conffiles" }
    - { src: "etc_apt_apt.conf.d_99norecommends.j2", dest: "/etc/apt/apt.conf.d/99norecommends" }
    - { src: "etc_apt_apt.conf.d_50unattended-upgrades.j2", dest: "/etc/apt/apt.conf.d/50unattended-upgrades" }
    - { src: "etc_apt_apt.conf.d_99-autoremove.j2", dest: "/etc/apt/apt.conf.d/99-autoremove" }

- name: Enable/disable nightly purge of removed packages configuration files
  ansible.builtin.cron:
    user: root
    cron_file: apt-purge
    name: "purge configuration files of removed packages"
    minute: "00"
    hour: "23"
    day: "*"
    job: aptitude -q -y purge ~c 2>&1 | logger -t apt-purge
    disabled: "{{ False if apt_purge_nightly else True }}"

# update apt cache
- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
- name: Install aptitude and unattended-upgrades
  ansible.builtin.apt:
    state: present
    package:
      - aptitude
      - unattended-upgrades
      - apt-listchanges

##### APT-LISTBUGS #####

- name: Install apt-listbugs
  ansible.builtin.apt:
    state: present
    package: apt-listbugs
  when: apt_listbugs | bool
  tags: apt-listbugs

- name: Configure apt-listbugs
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "0644"
  with_items:
    - src: etc_apt_listbugs_ignore_bugs.j2
      dest: /etc/apt/listbugs/ignore_bugs
    - src: etc_apt_apt.conf.d_10apt-listbugs.j2
      dest: /etc/apt/apt.conf.d/10apt-listbugs
  when: apt_listbugs | bool
  tags: apt-listbugs

- name: Remove automatic APT pinnings added by apt-listbugs
  ansible.builtin.file:
    path: /etc/apt/preferences.d/apt-listbugs
    state: absent
  when: apt_listbugs | bool
  tags: apt-listbugs
