---
##### DATE/TIME #####

- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"
  when: timezone is defined

- name: Install systemd-timesyncd time synchronization service
  ansible.builtin.apt:
    state: present
    package: systemd-timesyncd

- name: Start systemd-timesyncd time synchronization service
  ansible.builtin.service:
    name: systemd-timesyncd
    state: started
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"
  tags: services
