---
- name: Create ansible facts.d directory
  ansible.builtin.file:
    path: /etc/ansible/facts.d
    state: directory
    mode: "0755"

- name: Create common fact file
  ansible.builtin.template:
    src: etc_ansible_facts.d_common.fact.j2
    dest: /etc/ansible/facts.d/common.fact
    mode: "0755"
  notify: update ansible facts
  ignore_errors: "{{ ansible_check_mode }}"

# update ansible facts immediately to detect CPU TRNG support
- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags: common
