---
##### FIREWALLD #####

- name: Install firewalld
  ansible.builtin.apt:
    package:
      - iptables
      - firewalld
      - nftables
      - ipset
    state: present

- name: Set iptables/ebtables alternatives to nftables versions
  community.general.alternatives:
    name: "{{ item.name }}"
    path: "{{ item.path }}"
  with_items:
    - name: iptables
      path: /usr/sbin/iptables-nft
    - name: ebtables
      path: /usr/sbin/ebtables-nft
  ignore_errors: "{{ ansible_check_mode }}"

- name: Configure firewalld
  ansible.builtin.template:
    src: etc_firewalld_firewalld.conf.j2
    dest: /etc/firewalld/firewalld.conf
    owner: root
    group: root
    mode: "0644"
  notify: restart firewalld
  ignore_errors: "{{ ansible_check_mode }}"

# apply firewalld configuration/default zone
- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
- name: Create/delete firewall zones
  ansible.posix.firewalld:
    zone: "{{ item.zone }}"
    state: "{{ 'present' if (item.delete is not defined) or (not item.delete) else 'absent' }}"
    permanent: true
    immediate: false
  with_items: "{{ firewalld_zone_sources }}"
  ignore_errors: "{{ ansible_check_mode }}"
  notify: reload firewalld

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
- name: Configure firewalld zone sources
  ansible.posix.firewalld:
    zone: "{{ item.0.zone }}"
    state: "{{ item.0.state | default('enabled') }}"
    permanent: "{{ item.0.permanent | default('yes') }}"
    immediate: "{{ item.0.immediate | default('no') }}"
    source: "{{ item.1 }}"
  when: (item.0.delete is not defined) or (not item.0.delete)
  loop: "{{ q('subelements', firewalld_zone_sources, 'sources', {'skip_missing': True}) }}"
  ignore_errors: "{{ ansible_check_mode }}"
  notify: reload firewalld

- name: Configure firewalld zone services
  ansible.posix.firewalld:
    zone: "{{ item.0.zone }}"
    state: "{{ item.0.state | default('enabled') }}"
    permanent: "{{ item.0.permanent | default('yes') }}"
    immediate: "{{ item.0.immediate | default('no') }}"
    service: "{{ item.1 }}"
  with_subelements:
    - "{{ firewalld_zone_services }}"
    - services
  ignore_errors: "{{ ansible_check_mode }}"

- name: Configure additional firewalld rules # noqa args[module] - Arguments are set from "firewalld" variable. We cannot define them here.
  ansible.posix.firewalld: "{{ item }}"
  with_items: "{{ firewalld }}"
  ignore_errors: "{{ ansible_check_mode }}"

#### SERVICE #####

- name: Enable firewalld service
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"
  tags: services

##### FACTS #####

- name: Create ansible facts.d directory
  ansible.builtin.file:
    path: /etc/ansible/facts.d
    state: directory
    mode: "0755"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Create firewalld fact file
  ansible.builtin.template:
    src: etc_ansible_facts.d_firewalld.fact.j2
    dest: /etc/ansible/facts.d/firewalld.fact
    mode: "0644"
  notify: update ansible facts
  ignore_errors: "{{ ansible_check_mode }}"

# ensure ansible facts are up to date before continuing
- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
