---
- name: Add /etc/hosts entries # noqa no-tabs
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "{{ item.ip_address }}\t{{ item.hostname }}"
    regexp: "^{{ item.ip_address }}\t.*$"
    state: present
  with_items: "{{ hosts_file_entries }}"
  when: (item.state is not defined) or (item.state == 'present')

- name: Remove /etc/hosts entries # noqa no-tabs
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^{{ item.ip_address }}\t.*$"
    state: absent
  with_items: "{{ hosts_file_entries }}"
  when: (item.state is defined) and (item.state == 'absent')
