---
##### SYSTEM MAIL #####

- name: Forward all root mail to {{ mail_root_alias }}
  ansible.builtin.lineinfile:
    path: /etc/aliases
    state: present
    create: true
    regexp: "^root"
    line: "root: {{ mail_root_alias }}"
    owner: root
    group: root
    mode: "0644"
  when: not setup_msmtp | bool

##### OUTGOING MAIL/SMARTHOST #####

- name: Install msmtp SMTP client/MTA
  ansible.builtin.apt:
    package:
      - msmtp
      - msmtp-mta
    state: present
  when: setup_msmtp | bool

- name: Copy msmtp configuration
  ansible.builtin.template:
    src: "etc_msmtprc.j2"
    dest: "/etc/msmtprc"
    mode: "0640"
    owner: root
    group: "msmtp"
  when: setup_msmtp | bool

- name: Forward all root mail to msmtp_admin_email
  ansible.builtin.lineinfile:
    path: /etc/aliases
    state: present
    create: true
    regexp: "{{ item.regex }}"
    line: "{{ item.line }}"
    owner: root
    group: root
    mode: "0644"
  with_items:
    - regex: "^root"
      line: "root: default"
    - regex: "^default"
      line: "default: {{ msmtp_admin_email }}"
  when: setup_msmtp | bool

##### FACTS #####

- name: Create ansible facts.d directory
  ansible.builtin.file:
    path: /etc/ansible/facts.d
    state: directory
    mode: "0755"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Create msmtp fact file
  ansible.builtin.template:
    src: etc_ansible_facts.d_msmtp.fact.j2
    dest: /etc/ansible/facts.d/msmtp.fact
    mode: "0644"
  notify: update ansible facts
  ignore_errors: "{{ ansible_check_mode }}"

# ensure ansible facts are up to date before continuing
- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
