---
- name: Import variable checks tasks
  ansible.builtin.import_tasks: checks.yml
  tags:
    - common
    - checks

- name: Import hostname configuration tasks
  ansible.builtin.import_tasks: hostname.yml
  become: true
  tags:
    - common
    - hostname
  when: setup_hostname | bool

- name: Import hosts file configuration tasks
  ansible.builtin.import_tasks: hosts.yml
  become: true
  tags:
    - common
    - hosts
  when: setup_hosts_file | bool

- name: Import dns resolution configuration tasks
  ansible.builtin.import_tasks: dns.yml
  become: true
  tags:
    - common
    - dns
  when: setup_dns | bool

- name: Import kernel/sysctl configuration tasks
  ansible.builtin.import_tasks: sysctl.yml
  become: true
  tags:
    - common
    - sysctl
  when: setup_sysctl | bool

- name: Import APT package management configuration tasks
  ansible.builtin.import_tasks: apt.yml
  become: true
  tags:
    - common
    - apt
  when: setup_apt | bool

- name: Import date/time configuration tasks
  ansible.builtin.import_tasks: datetime.yml
  become: true
  tags:
    - common
    - datetime
  when: setup_datetime | bool

- name: Import SSH server configuration tasks
  ansible.builtin.import_tasks: ssh.yml
  become: true
  tags:
    - common
    - ssh
  when: setup_ssh | bool

- name: Imprort remove-firehol configuration tasks
  ansible.builtin.import_tasks: remove-firehol.yml
  become: true
  tags:
    - common
    - remove-firehol
  when: setup_firewall | bool

- name: Import firewalld configuration tasks
  ansible.builtin.import_tasks: firewalld.yml
  become: true
  tags:
    - common
    - firewall
  when: setup_firewall | bool

- name: Import fail2ban configuration tasks
  ansible.builtin.import_tasks: fail2ban.yml
  become: true
  tags:
    - common
    - fail2ban
  when: setup_fail2ban | bool

- name: Import Linux users configuration tasks
  ansible.builtin.import_tasks: users.yml
  become: true
  tags:
    - common
    - users
  when: setup_users | bool

- name: Import cron configuration tasks
  ansible.builtin.import_tasks: cron.yml
  become: true
  tags:
    - common
    - cron
  when: setup_cron | bool

- name: Import system mail configuration tasks
  ansible.builtin.import_tasks: mail.yml
  become: true
  tags:
    - common
    - mail
    - msmtp

# detect CPU TRNG support before installing related packages
- name: Import ansible facts configuration tasks
  ansible.builtin.import_tasks: fact.yml
  become: true
  tags:
    - common
    - firewall

- name: Import base package installation/removal tasks
  ansible.builtin.import_tasks: packages.yml
  become: true
  tags:
    - common
    - packages

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags: common

##### UTILITIES ####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- name: Import debian 10->11 migration tasks
  ansible.builtin.import_tasks: utils-debian10to11.yml
  become: true
  tags:
    - never
    - utils-debian10to11

- name: Import debian 11->12 migration tasks
  ansible.builtin.import_tasks: utils-debian11to12.yml
  become: true
  tags:
    - never
    - utils-debian11to12

- name: Import fail2ban status report tasks
  ansible.builtin.import_tasks: utils-fail2ban-get-banned.yml
  become: true
  tags:
    - never
    - utils-fail2ban-get-banned

- name: Import firewalld status report tasks
  ansible.builtin.import_tasks: utils-firewalld-info.yml
  become: true
  tags:
    - never
    - utils-firewalld-info

- name: Import immediate unattended-upgrade tasks
  ansible.builtin.import_tasks: utils-apt-unattended-upgrade.yml
  become: true
  tags:
    - never
    - utils-apt-unattended-upgrade

- name: Import immediate apt upgrade tasks
  ansible.builtin.import_tasks: utils-apt-upgrade.yml
  become: true
  tags:
    - never
    - utils-apt-upgrade

- name: Import shutdown tasks
  ansible.builtin.import_tasks: utils-shutdown.yml
  become: true
  tags:
    - never
    - utils-shutdown

- name: Import reboot tasks
  ansible.builtin.import_tasks: utils-reboot.yml
  become: true
  tags:
    - never
    - utils-reboot
