---
- name: Remove unwanted packages
  ansible.builtin.apt:
    state: absent
    package: "{{ packages_remove }}"

- name: Install ansible modules requirements
  ansible.builtin.apt:
    state: present
    package:
      - aptitude # apt module
      - curl # http modules
      - git # git module
      - initramfs-tools
      - unzip # unarchive module
      - zip # unarchive module

- name: Install additional packages
  ansible.builtin.apt:
    state: present
    package: "{{ packages_install }}"

##### HARDWARE-SPECIFIC #####

- name: Install haveged random number generator if the host is a KVM/VMware VM
  ansible.builtin.apt:
    state: present
    package: haveged
  when: "('kvm' in ansible_facts.virtualization_tech_guest) or ('VMware' in ansible_facts.virtualization_tech_guest)"

- name: Install hardware random number generator support packages if the CPU supports it
  ansible.builtin.apt:
    state: present
    package: rng-tools5
  when: ansible_local.common.cpu_rdrand
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install qemu guest agent if the host is a KVM VM
  ansible.builtin.apt:
    state: present
    package: haveged
  when: "'kvm' in ansible_facts.virtualization_tech_guest"
