---
- name: Remove firehol management tools (supersessed with librelogic.librelogic.firewalld)
  ansible.builtin.apt:
    package:
      - firehol
      - firehol-tools
    state: absent
    purge: true
    autoremove: true

- name: Remove configurations
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/etc/firehol"
    - "/etc/systemd/system/firehol.service"
    - "/etc/default/firehol"
  notify: reload systemd unit files

# Apply firewall rules as soon as possible
- name: Force all notified handlers to run now
  ansible.builtin.meta: flush_handlers
