---
- name: Get firewalld status info
  ansible.posix.firewalld_info:
  register: common_firewalld_info

- name: Write firewalld status info to file
  ansible.builtin.template:
    src: var_log_firewalld-info.log.j2
    dest: /var/log/firewalld-info.log
    owner: root
    group: root
    mode: "0640"
  ignore_errors: "{{ ansible_check_mode }}"
  diff: false

- name: Download firewalld status info to data/firewalld-info-*.log
  ansible.builtin.fetch:
    src: /var/log/firewalld-info.log
    dest: "{{ playbook_dir }}/data/firewalld-info-{{ inventory_hostname }}.log"
    flat: true
  ignore_errors: "{{ ansible_check_mode }}"
  diff: false
