---
- name: Run apt upgrade now
  ansible.builtin.apt:
    upgrade: safe

- name: List and display upgradable packages
  block:
    - name: List upgradable packages
      ansible.builtin.command:
        cmd: apt list --upgradable
      register: apt_upgradable
      changed_when: false
      check_mode: false # run even in check mode so that following tasks don't fail, doesn't change anything
    - name: Display upgradable packages
      ansible.builtin.debug:
        msg: "{{ apt_upgradable.stdout }}"
