---
- name: Check if host is already running the target distribution
  ansible.builtin.debug:
    msg: "Host is already running Debian 12. Nothing to do."
  when: ansible_facts.distribution_release == "bookworm"

- name: Upgrade Debian 11 to 12
  when: ansible_facts.distribution_release == "bullseye"
  block:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
    - name: Upgrade all packages to latest versions (safe-upgrade) # noqa no-changed-when command-instead-of-module
      ansible.builtin.command:
        cmd: apt-get -y upgrade
      environment:
        DEBIAN_FRONTEND: noninteractive
    - name: List APT sources configuration files
      ansible.builtin.find:
        path: /etc/apt/sources.list.d/
        patterns: "*.list"
      register: common_apt_sources_files
    - name: Replace bullseye with bookworm in APT sources list
      ansible.builtin.replace:
        path: "{{ item }}"
        regexp: "bullseye"
        replace: "bookworm"
      with_items: "{{ common_apt_sources_files.files | map(attribute='path') | list + ['/etc/apt/sources.list'] }}"
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
    - name: Upgrade all packages to latest versions (dist-upgrade) # noqa no-changed-when command-instead-of-module
      ansible.builtin.command:
        cmd: apt-get -y dist-upgrade
      environment:
        DEBIAN_FRONTEND: noninteractive
    - name: Reboot host
      ansible.builtin.reboot:
        reboot_timeout: 6000
    - name: Show upgrade completion message
      ansible.builtin.debug:
        msg: "Upgrade to Debian 12 complete. Please run the playbook against this host to apply up-to-date configuration for Debian 12."
