---
- name: Get list of fail2ban banned IPs
  become: true
  ansible.builtin.shell:
    cmd: /usr/bin/fail2ban-client banned > /root/fail2ban-banned.txt
  changed_when: true

- name: Download list of fail2ban banned IPs to data/fail2ban-banned-*.txt
  become: true
  ansible.builtin.fetch:
    src: /root/fail2ban-banned.txt
    dest: "{{ playbook_dir }}/data/fail2ban-banned-{{ inventory_hostname }}.txt"
    flat: true
  ignore_errors: "{{ ansible_check_mode }}"
