---
- name: Import docker configuration tasks
  ansible.builtin.import_tasks: docker.yml
  become: true
  tags: docker

- name: Import facct configuration tasks
  ansible.builtin.import_tasks: fact.yml
  become: true
  tags: docker

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags: docker
