---
##### LYNIS SECURITY AUDIT #####

- name: Install lynis and related utilities
  ansible.builtin.apt:
    package:
      - lynis
      - debsums
    state: present

- name: Copy custom lynis scan profile
  ansible.builtin.template:
    src: etc_lynis_custom.prf.j2
    dest: /etc/lynis/custom.prf
    owner: root
    group: root
    mode: "0640"

- name: Setup lynis daily cron job
  ansible.builtin.cron:
    cron_file: lynis
    hour: "21"
    minute: "0"
    day: "*"
    name: "daily lynis audit"
    job: >
      /usr/sbin/lynis audit system --profile /etc/lynis/custom.prf --warnings-only --cronjob --report-file /var/log/lynis-report.txt >/dev/null &&
      grep -i -E '{{ lynis_report_regex }}' /var/log/lynis-report.txt
    user: root

- name: Disable lynis systemd timer
  ansible.builtin.systemd:
    name: lynis.timer
    state: stopped
    enabled: false
  ignore_errors: "{{ ansible_check_mode }}"

- name: Copy debsums cron job configuration
  ansible.builtin.template:
    src: etc_default_debsums.j2
    dest: /etc/default/debsums
    owner: root
    group: root
    mode: "0644"
