---
- name: Import monitoring-utils configuration tasks
  ansible.builtin.import_tasks: monitoring-utils.yml
  become: true
  tags:
    - monitoring
    - monitoring_utils

- name: Import lynis configuration tasks
  ansible.builtin.import_tasks: lynis.yml
  become: true
  tags:
    - monitoring
    - monitoring_utils
    - lynis

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
  tags:
    - monitoring
    - monitoring_utils
    - lynis

##### UTILITIES #####
# These tasks are tagged 'never' and will never run unless one of their tags is explicitly passed on the command line
- name: Import duc disk usage analysis tasks
  ansible.builtin.import_tasks: utils-duc.yml
  become: true
  tags:
    - never
    - utils-duc

- name: Import bonnie++ disk benchmarking tasks
  ansible.builtin.import_tasks: utils-bonnie.yml
  become: true
  tags:
    - never
    - utils-bonnie
