---
- name: Install duc
  ansible.builtin.apt:
    package: duc
    state: present

- name: Index filesystem with duc
  ansible.builtin.command:
    cmd: "duc index --check-hard-links --database=/root/.duc.db '{{ duc_index_path }}'"
  changed_when: true

- name: Download duc database to data/duc-*.db
  ansible.builtin.fetch:
    src: /root/.duc.db
    dest: "{{ playbook_dir }}/data/duc-{{ inventory_hostname }}.db"
    flat: true

- name: Show duc completion message
  ansible.builtin.debug:
    msg: "you can now open the database with duc gui --database={{ playbook_dir }}/data/duc-{{ inventory_hostname }}.db {{ duc_index_path }}"
