---
- name: Install bonnie++
  ansible.builtin.apt:
    state: present
    package: bonnie++

- name: Install bonnie++ wrapper script
  ansible.builtin.template:
    src: usr_local_bin_bonnie++-wrapper.j2
    dest: /usr/local/bin/bonnie++-wrapper
    owner: root
    group: root
    mode: "0755"

- name: Run bonnie++
  ansible.builtin.command:
    cmd: /usr/local/bin/bonnie++-wrapper
  changed_when: true # always returns changed, not meant to be idempotent

- name: Download bonnie++ reports to data/bonnie++-*.csv,html
  ansible.builtin.fetch:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    flat: true
  loop:
    - src: /var/log/bonnie++.html
      dest: "{{ playbook_dir }}/data/bonnie++-{{ inventory_hostname }}.html"
    - src: /var/log/bonnie++.csv
      dest: "{{ playbook_dir }}/data/bonnie++-{{ inventory_hostname }}.csv"

- name: Show bonnie++ completion message
  ansible.builtin.debug:
    msg: "The CSV and HTML reports have been downloaded to  {{ playbook_dir }}/data/bonnie++-{{ inventory_hostname }}.{csv,html}"
