# rsyslog - monitor netdata access/error log files
input(type="imfile"
      File="/opt/netdata/var/log/netdata/error.log"
      Tag="netdata:"
      Facility="daemon"
      PersistStateInterval="0")
